@charset "UTF-8";
@import "../core/mixins";
@import "../core/variables";


// ================================================
//                    HERO
// ================================================
.hero {
    background: url(../../../public/img/common/bg_hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    position: relative;
  
    &__top {
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    
    &__bottom{
        // position: absolute;
        // bottom: 10.3%;
        // left: 50%;
        // transform: translate(-50%, -50%);

        .scroll{
            writing-mode: vertical-rl;

            a{
                display: inline-block;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
                z-index: 2;
                padding: 10px 10px 110px;
                color: #fff;
                font-size: 14px;
                font-family: "Josefin Sans", sans-serif;
                line-height: 1;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                text-decoration: none;
                writing-mode: vertical-lr;
                transition: 0.2s;
                overflow: hidden;
            }

            // a{
            //     display: block;
            //     writing-mode: vertical-rl;
            //     position: relative;
            //     padding-top: 5px;
                
            //     .line{
            //         position: absolute;
            //         left: -5px;                    
            //         bottom: -242%;
            //         width: 1px;
            //         height: 135px;
            //         background: #fff;
            //     }
            // }
        }
    }

    a{
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -0%);
        z-index: 2;
        padding: 10px 5px 110px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        writing-mode: vertical-lr;
        transition: 0.2s;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            width: 1px;
            height: 100vh;
            background: #fff;
            animation: sdl01 1.5s cubic-bezier(1, 0, 0, 1) infinite;
        }
    }
}
// KEY FRAME ANIMATION
@keyframes sdl01 {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
}

// ================================================
//                    CONCEPT
// ================================================
.concept{
    position: relative;
    z-index: 1;

    .con_stage{
        position: relative;
        width: 100%;
        background-image: url('../../../public/img/concept/con_bg.png');
        background-size: cover; 
        padding: 105px 0 115px;  
        overflow: hidden;

        @media only screen and (max-width: 769px){
            padding: 23.438vw 0 10.417vw;  
        }

        @media only screen and (max-width: 481px){
            padding: 25vw 0 12.500vw;  
        }

        @media only screen and (max-width: 426px){
            padding: 22vw 0 12.500vw; 
        }
        
        &::before{
            content: '';
            background: url('../../../public/img/concept/con_pattern.png');
            background-size: 11.071vw 100vw;
            position: absolute;
            left: 0;
            top: 50%;
            width: 11.071vw;
            height: 100%;
            transform: translate(-0%, -50%);

            @media only screen and (max-width: 769px){
                background: url('../../../public/img/concept/sp_con_pattern_temp1.png');
                background-size: 100% 10.417vw;
                width: 100%;
                height: 10.417vw;
                top: 24px;
            }

            @media only screen and (max-width: 481px){
                background: url('../../../public/img/concept/sp_con_pattern_temp1.png');
                background-size: 100% 10.417vw;
                width: 100%;
                height: 10.417vw;
                top: 5vw;
            }
        }

        &::after{
            content: '';
            background: url('../../../public/img/concept/con_pattern.png');
            background-size: 11.071vw 100vw;
            position: absolute;
            right: 0;
            top: 50%;
            width: 11.071vw;
            height: 100%;
            transform: translate(-0%, -50%);

            @media only screen and (max-width: 769px){
                display: none;
            }

            @media only screen and (max-width: 481px){
                display: none;
            }
        }

        .con_container{    
                 
            @media only screen and (max-width: 481px){
                max-width: 100%;
            }   

            .con_content{
                width: 600px;
                // width: 42.857vw;
                margin: 0 auto;
                @media only screen and (max-width: 769px){
                    // width: 54.857vw;
                    width: 600px;
                }

                @media only screen and (max-width: 481px){
                    width: 100%;
                }

                img{
                    width: 408px;
                    margin: 0 auto;
                    display: block;
                    user-drag: none; 
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-drag: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;

                    @media only screen and (max-width: 481px){
                        width: 402px;
                    }

                    @media only screen and (max-width: 426px){
                        width: auto;
                        height: 22.353vw;
                    }
                }

                ._line{
                    width: 200px;
                    height: 4px;
                    margin: 0 auto;
                    background: #000000;
                    z-index: 1;
                    display: block;
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0; 
                        width: 50%;
                        height: 4px;
                        background: #C8161D;
                        z-index: 2;
                        transition: all 0.3s;
                    }
                }                

                img:hover + ._line::after{ width: 100%; }

                h3{
                    position: relative;
                    z-index: 3;
                    font-size: 24px;
                    padding: 60px 0 50px 0;
                    @media only screen and (max-width: 481px){                        
                        padding: 60px 0 42px 0;
                    }

                    @media only screen and (max-width: 426px){
                        font-size: 17px;
                        padding: 37px 0 18px;
                    }
                }

                .noto_b.txt_center.view_tabsp{
                    letter-spacing: -0.06vw;
                }

                .view_pc{
                    @media only screen and (max-width: 481px){
                        display: none;
                    }
                }

                .view_sp{
                    display: none;
                    @media only screen and (max-width: 481px){
                        display: block;
                        letter-spacing: -0.06vw;
                    }
                }

                p{
                    position: relative;
                    z-index: 3;
                    font-size: 16px;

                    @media only screen and (max-width: 426px){
                        font-size: 14px;
                    }
                }
            }
        }

    }
    // end con_stage
    
    .con_burger{
        content: url('../../../public/img/concept/con_burger.png');
        position: absolute;
        top: -28.429vw;
        right: -15.571vw;
        width: 790px;
        height: auto;
        z-index: 2;

        @media only screen and (max-width: 1051px){
            top: -41.429vw;
            right: -39.571vw;
            width: 75.238vw;
            height: auto;
        }

        @media only screen and (max-width: 481px){
            width: 67.708vw;
            height: 61.458vw;
            top: -40.167vw;
            right: -22.083vw;
        }        
    }
    // End con_burger
}

// ================================================
//                    QUALITY
// ================================================
.quality{
    position: relative;
    z-index: 1;

    .q_stage{
        position: relative;
        width: 100%;
        background-image: url('../../../public/img/quality/q_bg.png');
        background-repeat: repeat-x;
        background-size: 100% 102px;
        overflow: hidden;
        padding: 175px 0 110px;      
        
        @media only screen and (max-width: 769px){
            padding: 126.302vw 0 14.323vw;   
        }

        .q_burger{
            content: url('../../../public/img/quality/q_burger.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60.357vw;
            height: 42.143vw;
            z-index: 2;

            @media only screen and (max-width: 1051px){
                width: 83.357vw;
                height: auto;  
            }
    
            @media only screen and (max-width: 769px){
               width: 147.917vw;
               height: 103.333vw;
               top: 71.875vw;
            }        
        }   

        .q_container{
            position: relative;    
            .q_content{
                width: 100%;
                @media only screen and (max-width: 1051px){
                    width: 95%;
                }

                .width_37{
                    width: 37%;
                    margin: 0 auto;
                    .q_title_1{
                        width: 165px;
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 36px;
                        position: relative;
                        z-index: 3;
                    }
                    .q_title_2{
                        width: 235px;
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 36px;
                        position: relative;
                        z-index: 3;
                    }
                    p{
                        position: relative;
                        z-index: 3;
                        font-size: 16px;                       
                    }
                    .txt_bun{padding-bottom: 140px;}
                }
                .width_25{
                    width: 25%;
                    margin: 0 auto;
                }
                .width_37{
                    width: 37%;
                    margin: 0 auto;

                    .q_badge{
                        width: 250px;
                        margin: 0 auto;
                        display: block;                        
                        margin-bottom: 85px;
                        position: relative;
                        z-index: 3;
                    }

                    .q_title_3{
                        width: 195px;
                        margin: 0 auto;
                        display: block;                        
                        margin-bottom: 36px;
                        position: relative;
                        z-index: 3;
                    }

                    p{
                        position: relative;
                        z-index: 3;
                        font-size: 16px;
                    }
                }
            }
            
        }
        // end q_container

        .view_sp{ 

            .q_content{
                padding: 0 30px;
                width: 100%;
                @media only screen and (max-width: 769px){
                    width: 85%;
                }

                @media only screen and (max-width: 481px){
                    width: 100%;
                }

                .width_100{
                    // margin: 0 auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;

                    .width_57{
                        // width: 57%;

                        .q_title_1{
                            width: 165px;
                            margin: 0 auto;
                            display: block;
                            margin-bottom: 36px;
                            position: relative;
                            z-index: 3;

                            @media only screen and (max-width: 769px){
                                width: 40.417vw;
                                margin: 0;
                                margin-left: 2.500vw;
                                margin-right: auto;
                                margin-bottom: 7.917vw;
                            }                            
                        }

                        p{
                            position: relative;
                            z-index: 3;
                            font-size: 18px;   
                            letter-spacing: -0.1vw;                    
                        }
                    }

                    .width_43{
                        // width: 43%;
                        height: 100%;

                        .q_badge{
                            width: 40.208vw;
                            height: 47.5vw;
                            margin: 0 auto;
                            display: block;     
                            z-index: 3;
                            position: absolute;
                            right: 13px;
                            top: 0;

                            @media only screen and (max-width: 769px){
                                top: -50px;
                            }
                        }
                    }

                    .q_title_2{
                        width: 34.375vw;
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 36px;
                        position: relative;
                        z-index: 3;
                    }

                    .q_title_3{
                        width: 48.958vw;
                        margin: 0 auto;
                        display: block;     
                        margin-top: 67px;                   
                        margin-bottom: 36px;
                        position: relative;
                        z-index: 3;
                    }

                    p{
                        position: relative;
                        z-index: 3;
                        font-size: 18px;                       
                    }
                    
                }

                .sp_q_row_1{
                    .width_57, .width_43{
                        @media only screen and (max-width: 476px){                            
                            width: 100% !important;
                        }
                    }

                    .width_57{                        
                        .q_title_1{
                            @media only screen and (max-width: 476px){ 
                                height: 16.471vw;
                                width: auto;                           
                                margin: 0 auto 30px;
                            }
                        }
                        p{
                            @media only screen and (max-width: 476px){ 
                                padding-bottom: 30px;
                                letter-spacing: 0;
                                font-size: 14px;
                            }
                        }
                    }

                    .width_43{
                        .q_badge{
                            @media only screen and (max-width: 476px){ 
                                position: relative;
                                height: 77vw;
                                width: auto;    
                                top: 0;    
                                left: 0;
                            }
                        }
                    }
                }

                .sp_q_row_2{
                    margin-top: 15.833vw;
                    .q_title_2{
                        @media only screen and (max-width: 476px){
                            height: 18.824vw;
                            width: auto;
                        }                        
                    }

                    .q_title_3{
                        @media only screen and (max-width: 476px){
                            height: 14.118vw;
                            width: auto;
                        }   
                    }

                    p{
                        @media only screen and (max-width: 476px){
                            letter-spacing: -0.2vw;
                            font-size: 14px;
                        }
                        @media only screen and (max-width: 320px){
                            letter-spacing: -1.7px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        // End view_sp
    }
}

// ================================================
//                    CONCEPT
// ================================================
.menu{
    position: relative;
    z-index: 1;

    .m_stage{
        position: relative;
        width: 100%;
        background-image: url('../../../public/img/menu/tk_bg.svg');
        background-size: cover; 
        padding: 125px 0 105px;  
        overflow: hidden;

        @media only screen and (max-width: 1050px){
            padding: 11.429vw 0 10vw;  
        }

        @media only screen and (max-width: 769px){
            padding: 23.438vw 0 10.417vw;  
        }

        @media only screen and (max-width: 481px){
            padding: 18.750vw 0 14.583vw;
        }

        .m_container{    
                 
            @media only screen and (max-width: 481px){
                max-width: 100%;
            }   

            .m_content{
                width: 480px;
                @media only screen and (max-width: 769px){
                    width: 78.125vw;
                }

                @media only screen and (max-width: 481px){
                    width: 100%;
                }

                img{
                    width: 268px;
                    margin: 0 auto;
                    display: block;
                    user-drag: none; 
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-drag: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;

                    @media only screen and (max-width: 481px){
                        width: 268px;
                    }

                    @media only screen and (max-width: 476px){
                        height: 12vw;
                        width: auto;
                    }                    
                }

                ._line{
                    width: 200px;
                    height: 4px;
                    margin: 0 auto;
                    background: #ffffff;
                    z-index: 1;
                    display: block;
                    position: absolute;
                    top: 6vw;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @media only screen and (max-width: 1051px){
                        top: 8.8vw;
                    }

                    @media only screen and (max-width: 769px){
                        top: 13vw;
                    }

                    @media only screen and (max-width: 481px){
                        top: 20vw;
                    }

                    @media only screen and (max-width: 476px){
                        width: 200px;
                    }

                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0; 
                        width: 50%;
                        height: 4px;
                        background: #C8161D;
                        z-index: 2;
                        transition: all 0.3s;
                    }
                }  
                
                // img:hover + ._line::after{ width: 100%; }

                a{
                    display: block;
                    .m_btn{
                        border: 1px solid #ffffff;
                        // width: 18.625vw; 
                        width: 300px;                            
                        padding: 15px 0;

                        @media only screen and (max-width: 1401px){
                            width: 100%;
                            padding: 2.1vw 0;
                        }

                        @media only screen and (max-width: 1051px){
                            width: 300px;
                        }

                        @media only screen and (max-width: 481px){
                            width: 300px;
                            padding: 2.1vw 0;
                        }

                        @media only screen and (max-width: 476px){
                            width: 70.158vw;
                            padding: 2.1vw 0 2.5vw;
                        }

                        .width_10{
                            .icon{
                                width: 25px;
                                height: 30px;

                                @media only screen and (max-width: 1401px){
                                    width: 1.786vw;
                                    height: 2.143vw;
                                }

                                @media only screen and (max-width: 1051px){
                                    width: 25px;
                                    height: 30px;
                                }
                            }
                        }

                        .width_68{

                            p{
                                color: #ffffff;
                                margin: 0;                            
                            } 
                        }
                    }
                    // End m_btn    
                }                

                a.menu_btn:hover + ._line::after { width: 100% !important; }

                p{
                    position: relative;
                    z-index: 3;
                    margin: 80px 0 35px;

                    @media only screen and (max-width: 1051px){
                        margin: 7.619vw 0 3.333vw;
                    }

                    @media only screen and (max-width: 769px){
                        margin: 12vw 0 6vw;
                    }

                    @media only screen and (max-width: 481px){
                        margin: 17.708vw 0 7.292vw;
                    }

                    @media only screen and (max-width: 476px){
                        text-align:left;
                        letter-spacing: -1.5px;
                        font-size: 17px;
                    }
                }
                // End p
            }
        }

    }
    // end con_stage
}

// ================================================
//                    TAKEOUT
// ================================================
.takeout{
    position: relative;
    z-index: 1;

    .tk_stage{
        position: relative;
        width: 100%;
        background-image: url('../../../public/img/concept/con_bg.png');
        background-size: cover; 
        padding: 55px 0 65px;  
        overflow: hidden;

        @media only screen and (max-width: 769px){
            padding: 16vw 0 33.417vw;  
        }

        @media only screen and (max-width: 481px){
            padding: 19.792vw 0 37.417vw;  
        }
        
        &::before{
            content: '';
            background: url('../../../public/img/concept/con_pattern.png');
            background-size: 11.071vw 100vw;
            position: absolute;
            left: 0;
            top: 50%;
            width: 11.071vw;
            height: 100%;
            transform: translate(-0%, -50%);

            @media only screen and (max-width: 769px){
                background: url('../../../public/img/concept/sp_con_pattern_temp1.png');
                background-size: 100% 10.417vw;
                width: 100%;
                height: 10.417vw;
                top: 24px;
            }

            @media only screen and (max-width: 481px){
                background: url('../../../public/img/concept/sp_con_pattern_temp1.png');
                background-size: 100% 10.417vw;
                width: 100%;
                height: 10.417vw;
                top: 5vw;
            }
        }

        &::after{
            content: '';
            background: url('../../../public/img/concept/con_pattern.png');
            background-size: 11.071vw 100vw;
            position: absolute;
            right: 0;
            top: 50%;
            width: 11.071vw;
            height: 100%;
            transform: translate(-0%, -50%);

            @media only screen and (max-width: 769px){
                display: none;
            }

            @media only screen and (max-width: 481px){
                display: none;
            }
        }

        .tk_container{    
                 
            @media only screen and (max-width: 481px){
                max-width: 100%;
            }   

            .tk_content{
                width: 870px;
                z-index: 3;
                // width: 42.857vw;
                @media only screen and (max-width: 769px){
                    // width: 54.857vw;
                    width: 870px;
                }

                @media only screen and (max-width: 481px){
                    width: 100%;
                }

                img{
                    width: 100%;
                    margin: 0 auto;
                    display: block;
                    user-drag: none; 
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-drag: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;

                    @media only screen and (max-width: 1051px){
                        width: 40vw;
                        margin: 0 auto;
                    }

                    @media only screen and (max-width: 481px){
                        width: 402px;
                    }
                }          

                .view_pc{
                    @media only screen and (max-width: 481px){
                        display: none;
                    }
                }

                .view_sp{
                    display: none;
                    @media only screen and (max-width: 481px){
                        display: block;
                        letter-spacing: -0.06vw;
                    }
                }

                p{
                    position: relative;
                    z-index: 3;
                    padding-top: 30px;
                }
            }

            .view_tab{
                .tk_content{
                    .width_70{
                        img{
                            width: 40vw;
                            margin: 0 auto;

                            
                            // Media Query
                        }
                    }
                }
            }
            // End view_tab

            .view_sp{
                .tk_content{
                    width: 100%;

                    .width_100{
                        img{
                            width: 60vw;
                            margin: 0 auto;

                            @media only screen and (max-width: 481px){
                                width: 420px;
                                margin: 0 auto;
                            }
                            // Media Query
                            
                            @media only screen and (max-width: 476px){
                                height: 18.737vw;
                                width: auto;
                            }
                        }

                        p{
                            text-align: left;
                            letter-spacing:-1px;
                            padding-bottom: 6.510vw;

                            @media only screen and (max-width: 481px){
                                letter-spacing: -0.04vw;
                            }

                            @media only screen and (max-width: 476px){
                                letter-spacing:-1px;
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
            // End view_sp
        }

    }
    // end con_stage
    
    .tk_burger{
        content: url('../../../public/img/takeout/tk_burger.png');
        position: absolute;
        top: 45%;
        left: 29.571vw;
        transform: translate(-50%,-50%);
        width: 605px;
        height: auto;
        z-index: 2;

        @media only screen and (max-width: 1401px){
            width: 43.357vw;
        }

        @media only screen and (max-width: 1051px){
            width: 53.357vw;
        }

        @media only screen and (max-width: 769px){
            width: 115.357vw;
            top: 112%;
            left: 56%;;
        }

        @media only screen and (max-width: 481px){
            width: 133.333vw;
            height: auto;
            top: 118%;
            right: -22.083vw;
        }        
    }
    // End con_burger
}

// ================================================
//                    ACCESS
// ================================================
.access{
    position: relative;
    z-index: 1;

    .a_stage{
        padding: 145px 0 115px;
        z-index: 1;

        @media only screen and (max-width: 769px){
            padding: 77.333vw 0 0 0;
        }

        @media only screen and (max-width: 481px){
            padding: 95.333vw 0 0 0;
        }

        .a_bg{
            content: url('../../../public/img/access/access_bg.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // width: 78.929vw;            
            // height: 55vw;
            // width: 81.429vw;
            // width: 92.429vw;
            // width: 67.429vw;
            width: 1160px;
            height: auto;
            z-index: -1 !important;

            @media only screen and (max-width: 1401px){                          
                // width: 86.429vw;
                width: 1140px;
                height: auto;
                top: 50%;            
            }

            // @media only screen and (max-width: 1051px){
                // width: 133.429vw;
                // height: auto;
                // top: 47%;
            // }
    
            @media only screen and (max-width: 769px){
                // width: 216.667vw;
                // height: 151.042vw;
                // height: auto;
                // top: 119.5vw;
                // width: 216.667vw;
                width: 1040px;
                height: auto;
                top: 48%;
            }       
            
            @media only screen and (max-width: 481px){                
                width: 1040px;
                height: auto;
                top: 46%;
            }  
        }   

        .a_container{            

            .a_content_wrap{
                // width: 22.143vw;
                width: 305px;
                
                @media only screen and (max-width: 769px){
                    width: 305px;
                }   
                
                @media only screen and (max-width: 476px){
                    width: 73.684vw;
                } 
                
                // @media only screen and (max-width: 1051px){
                //     width: 29.143vw;
                // }

                img.img_title{
                    width: 305px;
                    margin: 0 auto;
                    display: block;
                    z-index: 3;
                    margin-bottom: 30px;

                    @media only screen and (max-width: 481px){
                        width: 305px;
                    }

                    @media only screen and (max-width: 476px){
                        width: auto;
                        height: 14.632vw;
                    }
                }

                ._line{
                    width: 200px;
                    height: 4px;
                    margin: 0 auto;
                    background: #000000;
                    z-index: 2;
                    display: block;
                    position: relative;

                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0; 
                        width: 50%;
                        height: 4px;
                        background: #C8161D;
                        z-index: 2;
                        transition: all 0.3s;
                    }
                }     
                
                img:hover + ._line::after{ width: 100%; }

                .a_content{           
                    // width: 21.643vw;
                    width: 305px;
                    z-index: 3;

                    @media only screen and (max-width: 769px){
                        width: 100%;
                    }              
                    
                    @media only screen and (max-width: 1051px){
                        width: 100%;
                    }

                    h4{
                        margin: 75px 0 45px 0;

                        @media only screen and (max-width: 1401px){
                            margin: 5.357vw 0 3.214vw 0;
                        }   
                        
                        @media only screen and (max-width: 481px){
                            margin: 10.417vw 0 10.417vw 0;
                        } 

                        @media only screen and (max-width: 476px){
                            font-size: 20px;
                            margin: 7.2vw 0;
                        } 
                    }

                    .a_phone_num{
                        // width: 22.583vw;
                        width: 100%;

                        @media only screen and (max-width: 1921px){
                            // width: 16.583vw;
                            width: 100%;
                        }

                        @media only screen and (max-width: 1401px){
                            width: 100%;
                        }

                        .width_85{
                            h3{
                                img.icon{
                                    width: 1.563vw;
                                    height: auto;
                                    margin-right: -8px;
                                    display: flex;  
                                    align-items: center;
        
                                    @media only screen and (max-width: 1401px){
                                        width: 2.143vw;
                                        height: 2.143vw;                                
                                        margin-right: -8px;
                                    }
                                    
                                }
                            }
                            // End h3
                        }

                        h3{
                            @media only screen and (max-width: 358px){
                                font-size: 30px;
                            }

                            img{
                                width: 2vw;
                                height: auto;
                                margin-right: 18px;

                                @media only screen and (max-width: 1051px){
                                    width: 2.9vw;
                                }
                                @media only screen and (max-width: 769px){
                                    width: 4vw;
                                }
                                @media only screen and (max-width: 481px){
                                    width: 6.250vw;
                                    margin-right: 14px;
                                }

                                @media only screen and (max-width: 426px){
                                    width: 7.059vw;
                                    margin-right: 12px;
                                }
                            }
                        }
                    }
                    // End a_phone_num                    

                    p{
                        margin: 50px 0 30px 0;
                        @media only screen and (max-width: 1401px){
                            margin: 3.571vw 0 2.143vw 0;
                        }                            
                        @media only screen and (max-width: 481px){
                            margin: 10.417vw 0 6.250vw 0;
                        }    

                        @media only screen and (max-width: 476px){
                            font-size: 17px;
                            margin: 6.417vw 0 6vw;
                        }  
                    }

                    a{
                        display: block;
                        .a_map_btn{
                            border: 1px solid #C8161D;
                            // width: 18.625vw; 
                            width: 100%;                            
                            padding: 15px 0;

                            @media only screen and (max-width: 1401px){
                                width: 100%;
                                padding: 1.071vw 0;
                            }

                            .width_10{
                                img.icon{
                                    width: 25px;
                                    height: 30px;

                                    @media only screen and (max-width: 1401px){
                                        width: 1.786vw;
                                        height: 2.143vw;
                                    }
                                }
                            }

                            .width_68{
                                p{
                                    color: #C8161D;
                                    margin: 0;                            
                                } 
                            }
                        }
                        // End a_map_btn    
                    }
                    // End a

                    .a_time_1, .a_time_2{
                        // width: 20.583vw;
                        width: 305px;

                        @media only screen and (max-width: 1401px){
                            // width: 15.583vw;
                        }

                        @media only screen and (max-width: 1401px){
                            width: 100%;
                        }

                        @media only screen and (max-width: 476px){
                            width: 58vw;
                        }

                        @media only screen and (max-width: 426px){
                            width: 100%;
                        }

                        .width_25{
                            p{ 
                                color: #C8161D;
                                margin: 0;

                                @media only screen and (max-width: 476px){
                                    font-size: 14px;
                                }
                            }
                        }
                        .width_75{                            
                            .txt_p_left{ 
                                padding-left: 1.3vw; 
                                margin: 0;

                                @media only screen and (max-width: 769px){
                                    padding-left: 3.750vw;
                                }       
                                
                                @media only screen and (max-width: 476px){
                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    .a_time_1{
                        margin-top: 45px;
                        @media only screen and (max-width: 1401px){
                            margin-top: 3.214vw;
                        }
                    }
                    .a_time_2{
                        margin-top: 40px;
                        
                        @media only screen and (max-width: 1401px){
                            margin-top: 2.857vw;
                            // margin-bottom: 25.625vw;
                        }

                        @media only screen and (max-width: 1051px){
                            margin-top: 2.857vw;
                            // margin-bottom: 8.625vw;
                            margin-bottom: 0;
                        }

                        @media only screen and (max-width: 769px){
                            margin-top: 5.833vw;
                            margin-bottom: 16.016vw;
                        }

                        @media only screen and (max-width: 481px){
                            margin-top: 5.833vw;
                            margin-bottom: 25.625vw;
                        }
                    }
                    // End a_time

                }
                // End a_content
            }
        }
        // End a_contianer
        
        .view_sp{
            .width_100{
                line-height: 0;
                // #map{
                //     width: 100%;
                //     height: 480px;
                // }
            }
        }
    }
}

// ================================================
//                    SHOP
// ================================================
.shop{    
    .width_100{
        img{
            width: 100%;
            height: auto;
            z-index: 6;
        }
    }
}
