.tk_burger_parent{
    position: relative;
}

.fade-left-in{
    animation : fade-left-in .5s linear both;
}
.fade-left-out{
    animation : fade-left-out .5s linear both;
}

.fade-right-in{
    animation : fade-right-in .5s linear both;
}
.fade-right-out{
    animation : fade-right-out .5s linear both;
}




@keyframes fade-left-in{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0%);
    }
}

@keyframes fade-left-out{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(100%);
    }
}

@keyframes fade-right-in{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(0%);
    }
}

@keyframes fade-right-out{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-100%);
    }
}



